<section class="section-2">
	<style>

		.child {

			font-family: 'Roboto', sans-serif;
			background: #ffffff;
			border: 1px solid #ffffff;
			padding: 10px;
			float:left;
			width: 30.5%;
			margin-left: auto;
			margin-right: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.child:last-child {

			margin-left: auto;
		}

	</style>
	<div  class="uk-text-center uk-text-large " style="font-size: 35px" > БАНКРОТСТВО - ЗАКОННЫЙ<br> СПОСОБ СПИСАНИЯ ДОЛГОВ</div>

	<div class="parent">
		<div class= "child"><h1 class="uk-text-center uk-text-large"><img src="app/img/3.gif">СПИШУТ ЛИ МНЕ ДОЛГИ ПОСЛЕ БАНКРОТСТВА?</h1>Обычно у суда нет препятствий для списания задолженностей. Исключением становятся только следующие ситуации:<br><br>
			<ol>
			<li>Обнажение факта по умышленному сокрытию имущества.</li>
			<li>Обращение со стороны налоговой.</li>
			<li>Обращение банка.</li>
				<li>Инициатива кредитора.</li>
				<li>Непредоставление документов, другие недобросовестные действия со стороны должника</li>
			</ol>
			<br>
			Поэтому первостепенное значение приобретает правильно оформленное заявление, составленное по всем правилам, предоставленное вовремя в суд. При наличии долгов в сумме от 500 тысяч рублей и больше Закон обязывает начать процедуру банкротства. Тем более – когда есть просрочки на 3 и больше месяцев. Когда процедура завершится – суд примет решение, с должника будут полностью списаны все текущие обязательства.
		</div>
		<div class="child"><h1 class="uk-text-large uk-text-center"> <img src="app/img/2.gif">ПРЕИМУЩЕСТВА СОБСТВЕННОГО БАНКРОТСТВА</h1>
		<p>За контроль процедуры отвечает не банк, а индивидуальный финансовый управляющий. По сути это означает, что весь ход банкротства контролируем и сам клиент. Значит, вероятность негативного исхода сведена к нулю.</p><p>Главное преимущество собственного банкротства – в том, что должник сам имеет право выбирать финансовых управляющих и проводить предбанкротные действия. В противном случае за выбор специалиста отвечают кредиторы или представители налоговой инспекции. Это приводит только к негативным последствиям, включая оспаривание любых сделок, отсутствие контроля. В результате большая часть долгов не списывается.</p></div>
	</div></section>
