<section class="section-8">
	<style type="text/css">
	.ttitle {
		font-family: Geometria,Arial,sans-serif;
		font-weight: 600;
		color: #000;
		font-size: 42px;
		line-height: 1.23;}
	.title2{font-family: Geometria,Arial,sans-serif;
		color: #000;
		font-size: 22px;
		line-height: 1.23;}
	div.wwrapper {
		width:450px;
	}
	div.left_block {
		float:left;
		width:200px;
	}
	div.right_block {
		float:right;
		width:200px;
	}
	.left {
		   display: block;
		   margin-block-start: 1em;
		   margin-block-end: 1em;
		   margin-inline-start: 0px;
		   margin-inline-end: 0px;
		font-size: 22px;
	   }
</style>
	<div class="uk-background-muted uk-padding uk-panel"><br><br><br><br>
		<p class="uk-text-center ttitle ">Наши контакты г. Тамбов</p>
		<p class="uk-text-center title2">Запишитесь на бесплатную консультацию</p>

		<div class="wwrapper">
			<div class="left_block"><p class= " uk-text-break uk-text-nowrap uk-text-light left" style="
    margin-left: 250px;">ЗВОНИТЕ ПО ТЕЛЕФОНУ</p>
				<p class= " uk-text-bold uk-text-bolder uk-text-break uk-text-nowrap uk-text-light left" style="
				margin-left: 250px;">+7 (953) 120-84-73</p>
				<p class= " uk-text-bold uk-text-bolder uk-text-break uk-text-nowrap uk-text-light left" style="
				margin-left: 250px;">info@bankrotstvo-lic.ru</p>
			</div></div>
		  <!--   <div class="right_block">
			<form class="uk-grid-small" uk-grid>
			<div class="uk-width-1-4@s centr">
				<input maxlength="25"  class="uk-input" width="48" height="460" placeholder="Ваше имя">
				<div class="uk-width-1-4@s centr">
					<input maxlength="25"  class="uk-input" width="48" height="460" placeholder="Ваш телефон">
				</div>
			</div> </form></div>>--->


	</div>
</section>
