<section class="section-1">
	<div class="gradient"></div>
	<div class="wrapper">
		<div class="title uk-text-center">
			Банкротство физических лиц в Тамбове
		</div>
		<div class=" uk-text-center">
			Процедура банкротства является гарантированным и законным способом списания всех долгов. Банкротство в
			Тамбове - это не "денежная яма", а возможность реального восстановления финансовой независимости
		</div>
		<div class="buttons uk-align-center uk-flex uk-flex-middle uk-flex-between">
			<button class="uk-button uk-button-primary">Списание долгов для граждан</button>
			<button class="uk-button uk-button-primary">Банкротство ИП и организаций</button>
		</div>
	</div>
</section>